.header {
    margin: 10px auto;
    width: 120px;
    display: flex;
    justify-content: space-between;
}

footer {
    font-size: 12px;
    text-align: center;
}

/* PostsPage */
.post_body {
    padding: 0 120px;
}

.body {
    font-size: 0;
    transition: 0.2s;
}

.post_body:hover .body {
    display: block;
    font-size: 16px;
    transition: 0.2s;
}

/* FormPage */
.form {
    margin: auto;
    width: 320px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form button {
    margin-top: 6px;
}